.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  height: 3.6rem;
  background-color: $header-bg;
  padding: .7rem 1.5rem;
  line-height: 2.2rem;

  display: flex;
  justify-content: space-between;

  .sidebar-button {
    display: none;
    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    padding: .6rem;
    top: .6rem;
    left: 1rem;
    cursor: pointer;
    
    .burger {
      display: block;
      width: 1.25rem;
      height: 1.25rem;

      & > path {
        fill: $color3;
      }
    }
  }

  span, a {
    display: inline-block;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color3;
    position: relative;
  }

  .logout {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    color: $color1;
    opacity: .65;
    padding: .2rem .5rem;
    background: $color6;
    border: 1px solid $color6;
    border-radius: .5rem;

    &:hover {
      background: $color5;
      border-color: $color6;
      outline: 0;
    }

  }
}

@media only screen and (max-width: 812px) {
  .navbar {
    padding: .7rem 1rem;
    padding-left: 4rem;

    .sidebar-button {
      display: block;
    }
  }
}