.navbar {
  height: 3.6rem;
  background-color: $header-bg;
  padding: .7rem 1.5rem;
  line-height: 2.2rem;

  .sidebar-button {
    display: none;
    box-sizing: content-box;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    padding: .6rem;
    top: .6rem;
    left: 1rem;
    cursor: pointer;
    
    .burger {
      display: block;
      width: 1.25rem;
      height: 1.25rem;

      & > path {
        fill: $color3;
      }
    }
  }

  span, a {
    display: inline-block;
  }

  .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: $color3;
    position: relative;
  }

  .links {
    padding-left: 1.5rem;
    white-space: nowrap;
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    display: flex;

      .logout {
        background-color: $color6;
        padding: 0 .5rem;
        border-radius: .2rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: $color1;
    }
  }
}

@media only screen and (max-width: 812px) {
  .navbar {
    padding: .7rem 1rem;
    padding-left: 4rem;

    .sidebar-button {
      display: block;
    }
  }
}

@media only screen and (min-width: 813px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
}