.notes {   
    &__item {
        border-bottom: 1px solid $color-note-border;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 0.83rem;
        text-align: left;

        h4 {
            font-weight: bold;
            font-size: 1rem;
            margin: 0 0 10px 0;
            padding: 0;
        }

        p {
            margin: 0;
            padding: 0;
        }

        &__body {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}