.editor {
  margin: 0;
  padding: 0;
  
  font-family: 'Helvetica Neue', Arial, sans-serif;

  height: 100vh;

  display: flex;
  justify-content: space-between;

  div {
    flex: 1;
  }

  &__md {
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #f6f6f6;
    position: relative;

    .btn {
        cursor: pointer;
        width: 68px;
        padding: 12px;
        border: none;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
        transition: background 0.3s ease;
    }

    .btn-new-note,
    .btn-clear-note,
    .btn-delete-note {
      position: absolute;
      top: 0;
      align-self: center;
    }

    .btn-new-note {
      background: $background-btn-primary;
      right: 0;
    }

    .btn-clear-note {
      background: $background-btn-secondary;
      right: 70px;
    }

    .btn-delete-note {
      background: $background-btn-danger;
      right: 140px;
    }

    textarea {
      border: none;
      resize: none;
      outline: none;
      background-color: #f6f6f6;
      font-size: 1rem;
      font-family: 'Monaco', courier, monospace;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 25px 0 0 0;
    }
  }

  &__compiled-md {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 0 20px;

    > div {
      height: 100%;
      width: 100%;
      text-align: left;
    }
  }
}