.notes {
    height: 100vh;
    margin: 5px auto;

    &__items {
        color: $color5;
        margin: 1.6rem;
        height: auto;
    }

    &__item {
        cursor: pointer;
        margin-top: 0.5rem;

        &:hover {
            transition: all 1s ease;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            background: $color4;
        }
    }
}