.editor {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  div {
    flex: 1;
  }

  &__md {
    border-right: 5px solid $color5;
    padding: 2rem;
    background-color: $default-bg;
    position: relative;

    textarea {
      border: none;
      resize: none;
      outline: none;
      background-color: #fff;
      font-size: 1rem;
      font-family: 'Monaco', courier, monospace;
      height: auto;
      width: 100%;
      padding: 0;
      margin: 3rem 0 0 0;
    }
  }

  &__controls {
      display: inline-block;
      position: absolute;
      top: 0.5rem;
      right: .5rem;

      .btn--new-note,
      .btn--clear-note,
      .btn--delete-note{
        display: inline-block;
        margin-right: .5rem;
      }

      .btn--new-note {
        background: $color3;
      }

      .btn--clear-note {
        background: $color5;
        color: $color2;
      }

      .btn--delete-note {
        background: $color4;
      }

      .btn:last-child {
        margin-right: 0;
      }
  }

  &__compiled-md {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    padding: 2rem;

    > div {
      height: 100%;
      width: 100%;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 812px) {
  .editor {
    flex-direction: column;

    &__md {
      border-right: 0;
      border-bottom: 5px solid $color5;
    }

    &__compiled-md, &__md {
      padding: 2rem .5rem;
    }
  }
}