$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;
$color-default: #2c3e50;
$color-bg: #333744;
$color-note-border: #585f75;

$background-btn-primary: #007bff;
$background-btn-secondary: #6c757d;
$background-btn-danger: #dc3545;