@import "variables.scss";

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Avenir", sans-serif;
}

.btn {
    padding: .7rem;
    color: $color6;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-radius: .2rem;
    cursor: pointer;
}